@import '~bootstrap/dist/css/bootstrap.min.css';

/* globals.css */

/* Estilos globales */
html {
    font-size: 16px;
    /* Establece un tamaño de fuente base */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos específicos para tu aplicación */
.container {
    max-width: 50rem;
    /* Utiliza rem en lugar de px */
    margin: 0 auto;
}

/* Otros estilos... */